.checkout-outer {
  margin-left: 0;
  margin-right: 0;
  -webkit-box-shadow: 5px 5px 13px 1px #C4C4C4;
  box-shadow: 5px 5px 13px 1px #C4C4C4;
  height: 90%;
  padding: 20% 20% 20% 20%;
}

.checkout-button {
}
