<div class="shopping-kart-out">
  <div class="shopping-kart-inner">
    <table class="shopping-kart-table">
      <tr>
        <td>
          <img class="shopping-kart-icon" src="https://png.icons8.com/ios/50/000000/shopping-cart-filled.png">
        </td>
        <td>
          <p class="navi-shopping-kart-title">shopping kart</p>
        </td>
      </tr>
    </table>
  </div>

  <div class="shopping-kart-drop-down">
    <div class="drop-down-content">
      <ul class="drop-down-content-list">
        <li>
          <table>
            <tr>
              <td>商品的缩略图</td>
              <td>商品的描述</td>
              <td>商品的数量以及价格</td>
            </tr>
          </table>
        </li>
        <li>
          <table>
            <tr>
              <td>商品的缩略图</td>
              <td>商品的描述</td>
              <td>商品的数量以及价格</td>
            </tr>
          </table>
        </li>
        <li>
          <table>
            <tr>
              <td>商品的缩略图</td>
              <td>商品的描述</td>
              <td>商品的数量以及价格</td>
            </tr>
          </table>
        </li>
        <li>
          <table>
            <tr>
              <td>商品的缩略图</td>
              <td>商品的描述</td>
              <td>商品的数量以及价格</td>
            </tr>
          </table>
        </li>
        <li>
          <table>
            <tr>
              <td>商品的缩略图</td>
              <td>商品的描述</td>
              <td>商品的数量以及价格</td>
            </tr>
          </table>
        </li>
        <li>
          <table>
            <tr>
              <td>商品的缩略图</td>
              <td>商品的描述</td>
              <td>商品的数量以及价格</td>
            </tr>
          </table>
        </li>
        <li>
          <table>
            <tr>
              <td>商品的缩略图</td>
              <td>商品的描述</td>
              <td>商品的数量以及价格</td>
            </tr>
          </table>
        </li>
      </ul>
    </div>
    <div class="drop-down-buy-button">
      <button class="buy-button">结账</button>
    </div>
  </div>
</div>
