

.app-content {
  margin-left: 10%;
  margin-right: 10%;
}

.app-content-table {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: 100%;
}

.app-content-table-left {
  vertical-align: top;
  width: 20%;
  padding-right: 1%;
}

.app-content-table-right {
  width: 80%;
}

.global-button-big {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 48px;
  width: 96px;
}

.global-button-big {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 36px;
  width: 72px;
}





